html {
  width: 100%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  height: 100%;
  width: 100%;
  background-image: url(./background.png);
  background-repeat: no-repeat;
}

.invisible{
  visibility: hidden;
}

.bot {
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30%;
  margin-right: 20px;
}

.bot i{
  background-color:#1abec5;
  color: white;
  border-radius: 35px;
  font-size: 2rem;
  padding: 1rem;
}

.bot .fa-times {
  font-size:2.4rem;
  padding: .75rem 1.2rem;
}

.bot .chatbox {
  background-color: white;
  width: 100%;
  max-height: 20rem;;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  border: 2px solid teal;
  border-radius: 10px;
  margin-right: 20px;
}

.bot .chatbox .heading {
   text-align: left;
    font-size: .8rem;
    color: black;
    background-color:white;
    border-bottom:  2px solid teal;
    margin-bottom: 10px;
}

.bot .chatbox .heading h1{
   margin: 5px 0;
}
   
.incoming {
  text-align: left;
  width: 80%;
  background-color: rgba(192, 194, 194, 0.829);
  border: 2px solid rgba(192, 194, 194, 0.829);
  border-radius: 5px;
  padding: 5px;
  margin:10px 40px 10px 0;
}

.outgoing {
  width: 80%;
  margin:5px 0px 5px 40px;
  background-color: teal;
  border: 2px solid teal;
  border-radius: 5px;
  color: white;
  padding: 5px;
}


.message {
  width: 70%;
  margin-right: 0px;
  border-radius: 10px;
  padding: 10px;
  border: 2px ridge teal;
}

.message:focus {
  outline : none;
}

button {
  width: 20%;
  color: white;
  background-color: teal;
  border: 2px solid teal;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
}